.input {
  border-radius: 20px;
  border: 1px solid gray;
  height: 30px;
  outline: none;
  width: inherit;
  padding-left: 15px;
  box-sizing: border-box;

  &__wrapper {
    position: relative;
    width: 100%;
  }
}
